---
import Social from './Social.astro';

export interface Props {
	subtitle: string;
	title: string;
	tagline: string;
}

const { subtitle, title, tagline } = Astro.props;
const socials = await Astro.glob("./../pages/socials/*.md");
---

<div>
    <div class="mx-auto max-w-7xl py-16 px-4 sm:py-10 sm:px-6 lg:px-8">
        <div class="text-center">

            <img class="mx-auto h-40 xl:h-56" src="gdg-londrina-indigo.svg" alt="Google Developers Groups Londrina">

            <h2 class="text-lg font-semibold text-indigo-500 mt-5">
                {subtitle}
            </h2>

            <Social
                socials={socials}
            />
        </div>
    </div>
</div>
